<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mall.mapper.ItemMapper">
    <!--新增-->
    <insert id="itemAdd" parameterType="com.star.mall.pojo.Item">
        insert into item (productId, listPrice, unitCost, supplier)
        values (#{productId}, #{listPrice}, #{unitCost}, #{supplier})
    </insert>
    <!--查询-->
    <select id="itemList" resultType="com.star.mall.pojo.Item">
        select *
        from item
    </select>
    <!--修改-->
    <update id="itemUpdate" parameterType="com.star.mall.pojo.Item">
        update item
        <set>
            productId=#{productId},
            listPrice=#{listPrice},
            unitCost=#{unitCost},
            supplier=#{supplier}
        </set>
        <where>
            itemId=#{itemId}
        </where>
    </update>
    <!--删除-->
    <delete id="itemDelete" parameterType="com.star.mall.pojo.Item">
        delete from item
        <where>
            itemId=#{itemId}
        </where>
    </delete>
</mapper>